<pre>2015</pre>
<button (click)="getSamsungGalaxyS6()">Samsung Galaxy S6</button>
<button (click)="getSamsungGalaxyNote5()">Samsung Galaxy Note 5</button>
<button (click)="getAlcatelOneTouchIdol3()">Alcatel OneTouch Idol 3</button>
<button (click)="getSonyXperiaZ5Compact()">Sony Xperia Z5 Compact</button>
<button (click)="getiPhone6SPlus()">iPhone 6S Plus</button>
<button (click)="getMotoXPure()">Moto X Pure</button>
<button (click)="getGoogleNexus6P()">Google Nexus 6P</button>
<button (click)="getGoogleNexus5X()">Google Nexus 5X</button>
<button (click)="getXiaomiMiNotePro()">Xiaomi Mi Note Pro</button>
<button (click)="getLGG4()">LG G4</button>
<button (click)="getLGV10()">LG V10</button>
<button (click)="getHTCOneA9()">HTC One A9</button>
<button (click)="getHTCOneM9+()">HTC One M9+</button>
<button (click)="getHonor7()">Honor 7</button>
<button (click)="getBlackBerryPriv()">BlackBerry Priv</button>
<button (click)="getOnePlusX()">OnePlus X</button>
<pre>2016</pre>
<pre>2017</pre>
<button (click)="getPixel2()">Pixel 2</button>
<button (click)="getOnePlus5()">OnePlus 5</button>
<pre>2018</pre>
<button (click)="getSamsungGalaxyS9()">Samsung Galaxy S9</button>


<button (click)="getAppleX()">Apple X</button>
<button (click)="getIPhone8()">iPhone 8</button>
<button (click)="getSamsungGalaxyS8()">Samsung Galaxy S8</button>
<button (click)="getHuaweiP20()">Huawei P20</button>
<button (click)="getLGG7()">LG G7</button>
<button (click)="getLGV30()">LG V30</button>
<button (click)="getHuaweiMate10()">Huawei Mate 10</button>
<button (click)="getSamsungGalaxyNote8()">Samsung Galaxy Note 8</button>
<br>
<button (click)="stringify()">Stringify</button>

<pre>Unpack</pre>

<button (click)="get2g()">2G</button>
<button (click)="get3g()">3G</button>
<button (click)="get4g()">4G</button>
<button (click)="getTechnologies()">Technology</button>

<pre>Technology is: {{ technology }}</pre>
<span *ngFor="let technology of technologies">
  <button>{{ technology }}</button>
</span>
<pre>2G is: {{ _2g }}</pre>
<span *ngFor="let button_2g of buttons_2g">
  <button>{{ button_2g }}</button>
</span>
<pre>3G is: {{ _3g }}</pre>
<span *ngFor="let button_3g of buttons_3g">
  <button>{{ button_3g }}</button>
</span>
<pre>4G is: {{ _4g }}</pre>
<span *ngFor="let button_4g of buttons_4g">
  <button>{{ button_4g }}</button>
</span>


<pre>Data Obtained is: {{ phone | json }}</pre>
